@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #040522;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p {
	opacity: 0.7;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
time {
	font-family: 'Lexend', sans-serif;
}
.wrapper {
	width: 1100px;
	margin: 0px auto;
	overflow: hidden;
}
header {
	width: 100%;
	height: 720px;
	background: linear-gradient(255.02deg, rgba(129, 194, 212, 0.56) 5.93%, rgba(138, 199, 217, 0.56) 23.18%, rgba(155, 207, 224, 0.72) 43.47%, rgba(135, 198, 215, 0.49) 58.21%, rgba(102, 178, 201, 0.57) 73.36%, rgba(98, 177, 198, 0.51) 92.76%);
	position: relative;
}
.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav nav ul {
	display: flex;
}
.header__nav nav ul li {
	margin-right: 40px;
}
.header__nav nav ul li a {
	font-size: 18px;
	font-weight: 500;
	color: #040522;
	position: relative;
}
.header__nav nav ul li a::after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #040522;
	content: "";
	transition: width 0.5s ease-out;
}
.header__nav nav ul li a:hover::after,
.header__nav nav ul li a:focus::after {
	width: 100%;
}
.header__searcher {
	display: flex;
	align-items: center;
}
.header__searcher a {
	display: inline-block;
	background-color: #fff;
	padding: 19px 20px;
}
.header__loopa {
	border-radius: 50% 0 0 50%;
}
.header__bracket {
	border-radius: 0 50% 50% 0;
	position: relative;
}
.header__number_in_bracket {
	display: block;
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 8px;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	background-color: #FD4848;
	height: 15px;
	width: 15px;
	text-align: center;
	z-index: 999999;
}
.header__searcher input {
	padding: 20px 10px;
	border: 1px solid #FFFFFF;
	color: #040522;
}
.header__searcher input:focus {
	outline: none;
}
.header__main {
	margin-top: 150px;
	width: 520px;
}
.header__trendy_collection {
	font-size: 21px;
	color: #171FE5;
	font-weight: 600;
	margin-bottom: 10px;
}
.header__info_h2 {
	font-size: 61px;
	font-weight: 600;
	margin-bottom: 20px;
}
.header__subtitle {
	margin-bottom: 40px;
	opacity: 1;
}
.header__start_shopping {
	display: inline-block;
	background-color: #FF843F;
	color: #FFFFFF;
	padding: 15px 15px 15px 30px;
	border-radius: 50px;
	transition: all 0.5s ease;
}
.header__start_shopping::after {
	content: url('../../img/arrow.svg');
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	text-align: center;
	line-height: 26px;
	border-radius: 100px;
	width: 26px;
	height: 26px;
	margin-left: 30px;
}
.header__start_shopping:hover {
	transition: all 0.5s ease;
	background-color: #171FE5;
}
.header__front_img {
	position: absolute;
	right: 0;
	top: 130px;
}
.header__offer {
	position: absolute;
	right: 30px;
	top: 30px;
	background-color: #FFA166;
	border-radius: 200px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: #FFFFFF;
	padding: 15px 30px;
}
.header__skidcka {
	font-size: 30px;
	font-weight: 500;
}
.header__triangle {
	position: absolute;
	bottom: -35px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 50px solid #FFA166;
	transform: rotate(35deg);
}
.header__valuable_customar {
	position: absolute;
	bottom: 110px;
	left: 22px;
	background-color: #CEECF3;
	border-radius: 5px;
	padding: 20px;
}
.header__val_customar {
	font-size: 12px;
	font-weight: 500;
}
.header__valuable_img {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	padding-left: 10px;
	margin-top: 10px;
}
.header__valuable_img img {
	margin-left: -6px;
	cursor: pointer;
}
.header__valuable_number {
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}
.val_img_1:hover {
	z-index: 2;
}
.val_img_2:hover {
	z-index: 2;
}
.val_img_3:hover {
	z-index: 2;
}
.val_img_4:hover {
	z-index: 2;
}
.val_img_5:hover {
	z-index: 2;
}
.val_img_6:hover {
	z-index: 2;
}
.top_slider .swiper-wrapper .swiper-slide img {
	height: 239px;
	width: 467px;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: #FF843F;
}
.top_slider.swiper-container {
	width: 650px;
	height: 320px;
	margin: 70px auto;
}
.top_slider.swiper-container .swiper-wrapper {
	padding: 30px 0 70px 0;
}
.swiper-container .swiper-wrapper .swiper-slide {
	text-align: center;
}
.swiper-container .swiper-wrapper .swiper-slide img {
	max-width: 100%;
}
.bottom_slider.swiper-container {
	width: 550px;
	height: 580px;
	margin: 0 auto;
}
.bottom_slider.swiper-container .swiper-wrapper {
	padding: 30px 0 70px 0;
}
.main__title_view {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main__title_view h2 {
	font-size: 44px;
	font-weight: 600;
}
.main__view_all {
	font-size: 22px;
	color: #E56117;
	font-weight: 600;
	position: relative;
}
.main__view_all::after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #E56117;
	content: "";
	transition: width 0.5s ease-out;
}
.main__view_all:hover::after,
.main__view_all:focus::after {
	width: 100%;
}
.main__photo_gallery_plitochka {
	display: flex;
	align-items: center;
}
.main__left_side_photo {
	margin-right: 20px;
}
.main__photo_gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.main__top_selling {
	margin-top: 100px;
}
.main__title {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.main__title h2 {
	font-size: 44px;
	font-weight: 600;
	margin-bottom: 20px;
}
.main__title p {
	margin-bottom: 50px;
}
.main__our_speciality {
	margin-top: 80px;
}
.main__speciality {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}
.main__speciality_box {
	width: 320px;
	height: 220px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	text-align: center;
}
.main__speciality_box:not(:last-child) {
	margin-right: 30px;
}
.main__speciality_logo {
	position: relative;
	margin-top: 25px;
}
.main__speciality_logo span {
	display: inline-block;
	background-color: #171FE5;
	opacity: 0.1;
	border-radius: 10px;
	height: 50px;
	width: 50px;
}
.main__speciality_logo img {
	position: absolute;
	left: 50%;
	top: 13px;
	transform: translateX(-50%);
}
.main__speciality_box h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 10px 0;
}
.main__brand {
	background-color: #F8FCFD;
	width: 1240px;
}
.main__wrapper_brand {
	display: flex;
	justify-content: space-between;
}
.main__brand_logo {
	margin: 75px 0;
}
.main__blog_posts {
	margin: 80px auto 120px auto;
}
.main__posts {
	display: flex;
	justify-content: space-between;
}
.main__title_view {
	margin-bottom: 80px;
}
.main__title_view .subtitle {
	width: 380px;
}
.main__wrap_post {
	width: 450px;
	box-shadow: 2px 4px 10px rgba(4, 5, 34, 0.05);
	border-radius: 0px 0px 10px 10px;
}
.main__wrap_post:not(:last-child) {
	margin-right: 15px;
}
.main__post_wrapper {
	padding: 25px;
}
.main__post_wrapper h5 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.main__post_wrapper p {
	line-height: 25px;
	margin-bottom: 20px;
}
.main__bottom_post {
	display: flex;
	justify-content: space-between;
}
.main__see_more {
	color: #E56117;
	font-weight: 500;
	position: relative;
}
.main__see_more::after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #E56117;
	content: "";
	transition: width 0.5s ease-out;
}
.main__see_more:hover::after,
.main__see_more:focus::after {
	width: 100%;
}
.main__bottom_post time {
	font-weight: 500;
}
footer {
	background-color: #040522;
}
footer .wrapper {
	display: flex;
	justify-content: space-between;
	padding: 70px 0;
}
.footer__about_site {
	width: 250px;
}
.footer__about_site p {
	color: #FFFFFF;
	margin: 35px 0;
}
.footer__social_media span {
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
	opacity: 0.1;
	border-radius: 17.5px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease;
}
.footer__social_media span:hover {
	opacity: 0.3;
	transition: all 0.5s ease;
}
.footer__social_media a {
	position: relative;
}
.footer__social_media a:not(:first-child) {
	margin-left: 30px;
}
.footer__social_media a:first-child {
	margin-left: 15px;
}
.footer__navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 15px;
}
.footer__nav_title {
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	margin-bottom: 30px;
}
.footer__nav_wrap a,
.contact {
	font-weight: 500;
	line-height: 17px;
	color: #FFFFFF;
	opacity: 0.7;
	transition: all 0.5s ease;
}
.footer__nav_wrap a:hover {
	transition: all 0.5s ease;
	opacity: 1;
}